@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    height: 650px;
    text-align: center;
}

@media (max-width: 490px) {
    body {
        background-image: none;
    }
}

.title {
    padding-top: 18%;
    display: block;
    font-weight: bolder;
    font-size: 32px;
    color: orange;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.description {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#download-button {
    width: 128px;
    height: 24px;
    font-weight: 700;
    font-size: 18px;
    color: black;
    background-color: rgb(86, 255, 86);
    padding: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border: black 1px solid;
}

a {
    text-decoration: none;
}

.features {
    background-color: #232323;
}

.navbar {
    background-color: #333333;
    width: 100%;
	text-align: right;
}

.navbar i {
    transition: .3s ease-in-out;
    padding: 4px;
    font-size: 24px;
}


.navbar .discord { color: #7289da; }

.navbar .github { color: #000; }

.navbar .discord:hover {
    color: white;
}

.navbar .github:hover {
    color: white;
}


.navbar i {
    font-size: 52px;
}

small {
    background-color: #333a;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    text-align: center; 
    width: 100%;   
    font-size: 18px;
    color: #ffffff;
    word-wrap: normal;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.features {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
}

.feature {
    height: 250px;
    width: 300px;
    text-align: center;
    background-color: #323232;
    padding: 12px;
    border-radius: 4px;
}

.feature-desc {
    display: block;
}

.note {
    margin-bottom: 50px;
    text-align: center;
}