*{
	padding: 0;
	margin: 0;
}
:root{
	--primary: rgb(30, 30, 30);
	--accent: rgb(255, 180, 0);
	scroll-behavior: smooth;
}
.container{
	width: 100%;
	height: fit-content;
	background-color: var(--primary);
}

/*Global*/
h1{
	color: white;
	font-size: 75px;
	font-weight: 200;
	font-family: Raleway;
}
h2{
	color: white;
	font-size: 35px;
	font-weight: 200;
	font-family: Arial;
}
p{
	color: white;
	font-family: Arial;
}

/*Home Section*/
.home{
	min-height: fit-content;
	height: 70vh;
	text-align: center;
}
.home .socials{
	float: left;
	margin-top: 15px;
	position: absolute;
}
.socials li{
	display: inline;
	padding-left: 15px;
}
.logo{
	margin-top: 5%;
}
.home p{
	color: white;
	font-size: 25px;
}
.downloadButton{
	text-decoration: none;
	text-align: center;
	color: var(--primary);
	padding: 20px;
	background-color: var(--accent);
	width: 15%;
	font-size: 35px;
	border-radius: 45px;
	transition: background-color 0.3s, box-shadow 0.3s;
	font-family: Arial;
}

.downloadButton:hover, .downloadButton:focus{
	background-color: rgb(255, 195, 55);
	box-shadow: 0 0 20px rgb(255, 195, 55);
}

/*Features Section*/
.features{
	height: 200vh;
}
.feature2, .feature1{
	padding-top: 40vh;
}
.features h2{
	margin-top: 25%;
	font-size: 5vh;
}
.feature1, .feature2{
	margin: 5vh;
}
.feature1 .text{
 	float: left;
	width: 35%;
}
.feature2 .text{
	float: right;
	width: 35%;
}
.features img{
	transition: box-shadow 0.3s;
	border-radius: 5px;
}
.features img:hover, .features img:focus{
	box-shadow: 0 0 20px black;
}
.feature1 img{
	width: 60%;
	float: right;
}
.feature2 img{
	width: 60%;
	float: left;
}

/*Footer Section*/
.footer{
	height: fit-content;
	background-color: rgb(15, 15, 15);
	text-align: center;
}

.footer h2{
	bottom: 0;
	position: relative;
}