@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(14, 8, 0);
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 450%;
}

h2 {
    font-size: 350%;
}

.logobg {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transform: rotateX(15deg) rotateY(20deg);
    background-color: transparent;
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.3s;
}

.logobg:hover {
    background-color: #2e2e2e;
}

.logobg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: rotateX(15deg) rotateY(10deg);
    transform: translate3d(0, 0, -75px);
}

.logobg::after {
    content: url(https://sol-client.github.io/logo.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
    transform: rotateX(0deg) rotateY(0deg);
    transform: translate3d(0, 0, 35px);
}

.linear-wipe {
    text-align: center;
    background: linear-gradient(90deg, #996515 10%, #ffd700 45%, #ffd700 50%, #996515 90%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: grad 5s linear infinite;
}

@keyframes grad {
    to {
        background-position: 200% center;
    }
}

::-webkit-scrollbar-track {
    background: nones;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .features {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 22.5px;
    border-radius: 5px;
    margin: 25px;
}
